<div class="row">
  <div class="col-md-12">
    <%= form_tag("/single_sms/send_sms", method: "post", id: "frmSendSms", name: "frmSendSms") do %>
      <section class="panel">
        <header class="panel-heading">
          <h2 class="panel-title">Send Single SMS</h2>
        </header>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Number <span class="required">*</span></label>
            <div class="col-sm-9">
              <input type="text" name="phone_number" class="form-control" placeholder="eg.: 1345879125" value="" required/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Sender</label>
            <div class="col-sm-9">
              <select id="sender" name="sender" class="form-control" required>
                <option value="">Select</option>
                <% @senders.each_with_index do |sender,index| %>
                  <option value="<%= sender.name %>"><%= sender.name %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Select Message</label>
            <div class="col-sm-9">
              <select id="draft" name="draft" class="form-control" onchange="javascript:setMessage();">
                <option value="">Select</option>
                <% @drafts.each_with_index do |draft,index| %>
                    <option value="<%= draft.id %>"><%= draft.draft_content %></option>
                <% end %>

              </select>
              <a onclick="javascript:saveDraft();">Save Message</a> | <a onclick="javascript:deleteDraft();">Delete Message</a>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Message <span class="required">*</span></label>
            <div class="col-sm-9">
              <textarea name="txtMessage" id="txtMessage" rows="5" class="form-control" placeholder="Enter messages" required onkeypress="javascript:setCounter();" onchange="javascript:setCounter();"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Characters</label>
            <div class="col-sm-9">
              <input type="text" name="txtcount" class="form-control" value="" disabled="disabled" />
              <input type="hidden" value="160" name="hiddcount">
            </div>
          </div>
          <div class="form-group">
            <label for="dtp_input1" class="col-sm-3 control-label">Schedule Datetime</label>
            <div class="col-sm-9">
              <div class="input-group date form_datetime" data-date="" data-date-format="" data-link-field="dtp_input1">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
              </div>
              <input type="hidden" id="dtp_input1" value="" name="schedule_date"/><br/>
              <input type="hidden" id="current_date" value="" name="current_date"/><br/>
            </div>
          </div>
        </div>



        <footer class="panel-footer">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <button class="btn btn-primary" onclick="javascript:submit_single();">Submit</button>
              <button type="reset" class="btn btn-default">Reset</button>
            </div>
          </div>
        </footer>
      </section>
    <% end %>
  </div>
</div>
<!-- end: page -->